@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.ttf") format("truetype");
}
:root {
  --white: #fff;
  --black: #000;
  --hover: #e99d50;
  --transition: 0.5s ease;
  --green: #5bcb4f;
  --blue: #0096b0;
  --text: #454545;
  --bg: #decdb1;
  --orange: #ed7117;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  font-family: "Lato";
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 600px;
  height: 1024px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.location {
  color: var(--text);
  font-size: 23px;
  font-weight: bold;
  max-width: 70%;
  word-wrap: break-word;
}

.logo img {
  width: 250px;
  margin-top: 10px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 0;
  width: 100%;
}

.service-image {
  width: 100%;
}
.service-image img {
  width: 40%;
  object-fit: cover;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}
.send img,
.receive img {
  width: 100%;
}

.btn {
  width: 100%;
  border-radius: 10px;
}

#couirer {
  position: relative;
  width: 100%;
  height: 100vh; /* Postavljanje visine na celu visinu ekrana */
  display: none;
}

#home {
  display: contents;
}

.courier-logo {
  width: 100%;
  position: absolute;
  top: 100px; /* Postavite koliko je potrebno od vrha */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.qr-instruction {
  margin-top: 60px;
  font-size: 35px;
  font-weight: 700;
  color: var(--blue);
}

.log-out {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.log-out img {
  width: 50px; /* Prilagodite velicinu slike */
  height: auto;
}

.log-out-counter {
  margin-left: 10px;
  color: var(--text);
  padding: 5px 10px;
  border-radius: 50%;
}

.package-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: var(--orange);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--white);
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.42);
}

.package-info h3 {
  padding: 10px 0;
}

.package-capacity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  position: absolute;
  bottom: 150px;
  text-align: center;
}
.all,
.free {
  background: var(--orange);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--white);
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.42);
}

.package-capacity h3 {
  padding: 10px 0;
}

#pin-overlay {
  display: flex;
  justify-content: space-between;
  width: 100%;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
:where([autocomplete="one-time-code"]) {
  --otp-digits: 6;
  --otp-ls: 2ch;
  --otp-gap: 1.25;

  /* private consts */
  --_otp-bgsz: calc(var(--otp-ls) + 1ch);
  --_otp-digit: 0;

  all: unset;
  background: linear-gradient(
      90deg,
      var(--otp-bg, #bbb) calc(var(--otp-gap) * var(--otp-ls)),
      transparent 0
    ),
    linear-gradient(
      90deg,
      var(--otp-bg, #eee) calc(var(--otp-gap) * var(--otp-ls)),
      transparent 0
    );
  background-position: calc(var(--_otp-digit) * var(--_otp-bgsz)) 0, 0 0;
  background-repeat: no-repeat, repeat-x;
  background-size: var(--_otp-bgsz) 100%;
  caret-color: var(--otp-cc, #222);
  caret-shape: block;
  clip-path: inset(0% calc(var(--otp-ls) / 2) 0% 0%);
  font-size: var(--otp-fz, 2.5em);
  inline-size: calc(var(--otp-digits) * var(--_otp-bgsz));
  letter-spacing: var(--otp-ls);
  padding-block: var(--otp-pb, 1ch);
  padding-inline-start: calc(((var(--otp-ls) - 1ch) / 2) * var(--otp-gap));
}

/* kod iz html */

.input-num-keypad-wrap {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.input-number input {
  text-align: left;
}

/* For this demo */
label span {
  display: block;
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-weight: 500;
  margin-block-end: 1ch;
}
.progres-bar {
  background-color: #004185;
  height: 4px;
  width: 100%;
  animation: grow 30s linear infinite;
  transform-origin: left;
  position: fixed;
  top: 1px;
}
#timer {
  font-size: 60px;
  height: 150px;
  width: 150px;
  text-align: center;
  border-radius: 50%;
  padding-top: 35px;
  border: 3px solid #004185;
  margin: 0 auto;
}

#pin-message {
  font-size: 42px;
  margin-bottom: 10px;
}
#entered-pin {
  font-size: 44px;
  font-weight: bold;
  min-height: 52px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 10px;
  margin-top: 20px;
}

.keypad button {
  width: 150px;
  height: 150px;
  
  /*  */
  border: 2px solid #ccc;
}
.digitBtn {
  background: white;
  font-size: 74px;
}

.keypad button:active {
  background: #003375;
  color: white;
}

#close-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: var(--blue);
  color: white;
  border: none;
}

.deleteDigit {
  font-size: 37px;
  background-color: red;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
}

.confirmBtn {
  font-size: 37px;
  background-color: green;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
} 

span img {
  width: 80px;
  height: 80px;
}

#openPopup {
  width: 250px;
  height: 50px;
  background: #66B1E2;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  color: var(--white);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  display: none;
  z-index: 1000;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 1001;
}
.popup h3 {
  font-size: 45px;
  padding: 10px 0;
}
#languageList {
  font-size: 40px;
  color: var(--text);
}
.language-option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}
.language-option img {
  width: 40px;
  height: 40px;
}

.selected-language {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  font-size: 30px;
}
.selected-language img {
  width: 30px;
  height: 30px;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}
